#name {
  margin-top: 10px;
  text-align: center;
  /* font-family: 'Pirata One', cursive; */
  font-family: "Megrim", cursive;
  /* font-family: 'Vibes', cursive; */
  /* font-family: 'Khand', sans-serif; */
  /* font-family: 'Rock Salt', cursive; */
  font-size: 40px;
  color: black;
  background-color: white;
}

#links {
  margin-top: 30px;
  text-align: right;
  /* font-family: 'Special Elite', cursive; */
  /* font-family: 'Megrim', cursive; */
  /* font-family: 'Vibes', cursive; */
  font-family: "Khand", sans-serif;
  /* font-family: 'Rock Salt', cursive; */
  font-size: 18px;
  color: black;
}

.link-top {
  color: black;
  background-color: white;
}

#name2 {
  margin-top: 10px;
  text-align: center;
  /* font-family: 'Pirata One', cursive; */
  font-family: "Megrim", cursive;
  /* font-family: 'Vibes', cursive; */
  /* font-family: 'Khand', sans-serif; */
  /* font-family: 'Rock Salt', cursive; */
  font-size: 40px;
  color: black;
}

#links2 {
  margin-top: 30px;
  text-align: right;
  /* font-family: 'Special Elite', cursive; */
  /* font-family: 'Megrim', cursive; */
  /* font-family: 'Vibes', cursive; */
  font-family: "Khand", sans-serif;
  /* font-family: 'Rock Salt', cursive; */
  font-size: 18px;
  color: black;
}

.link-top2 {
  color: black;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-repeat: repeat;
}

#portfolioPage {
  background-image: url(../images/body4.jpg);
  background-size: cover;
}

li {
  display: inline-block;
}

#aboutme.container {
  color: black;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 5px solid black;
  cursor: pointer;
}

h2 {
  font-family: "Rock Salt", cursive;
  margin-bottom: 15px;
  text-align: center;
}

h4 {
  /* font-family: 'Special Elite', cursive; */
  /* font-family: 'Megrim', cursive; */
  /* font-family: 'Vibes', cursive; */
  font-family: "Khand", sans-serif;
  text-align: center;
  /* font-family: 'Rock Salt', cursive; */
}

p {
  font-family: "Times New Roman", serif;
  /* text-align: center; */
  font-size: 18px;
}

#technologies {
  font-family: "Times New Roman", serif;
  text-align: center;
  font-size: 18px;
}

#contact {
  font-family: "Times New Roman", serif;
  text-align: center;
  font-size: 18px;
}

.fixed-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0px;
  background: black;
  color: white;
  text-align: center;
  /* font-family: 'Pirata One', cursive; */
  font-family: "Megrim", cursive
  /* font-family: 'Vibes', cursive; */
  /* font-family: 'Khand', sans-serif; */
  /* font-family: 'Rock Salt', cursive; */
}

/* img {
  padding-top: 5px;
} */

.card {
  border: 5px solid black;
}

.card-text {
  font-family: "Khand", sans-serif;

}

p2 {
  /* font-family: 'Special Elite', cursive; */
  /* font-family: 'Megrim', cursive; */
  /* font-family: 'Vibes', cursive; */
  font-family: "Khand", sans-serif;
  /* font-family: 'Rock Salt', cursive; */
  font-size: 20px;
}

.card-body {
  text-align: center;
}

.hidden>div {
	display:none;
}

.visible>div {
	display:block;
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #343a40;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}