#name {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
}

#links {
  margin-top: 20px;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
}

body {
  background-color: black;
}

li {
  display: inline-block;
}

#about.container {
  color: black;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.fixed-footer {
  width: 100%;
  position: fixed;
  padding: 10px;
  bottom: 0;
  left: 0px;
  background: black;
  color: white;
  text-align: center;
  border-top: 5px solid rgb(116, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}
